(function() {
  var template = Handlebars.template, templates = Handlebars.templates = Handlebars.templates || {};
templates['block.html'] = template({"compiler":[5,">= 2.0.0"],"main":function(depth0,helpers,partials,data) {
  var helper, functionType="function", escapeExpression=this.escapeExpression;
  return "<script id=\"block-template\" type=\"text/x-handlebars-template\">\n\n	<li class=\"block-"
    + escapeExpression(((helper = helpers.index || (depth0 && depth0.index)),(typeof helper === functionType ? helper.call(depth0, {"name":"index","hash":{},"data":data}) : helper)))
    + "\" data-filters=\""
    + escapeExpression(((helper = helpers.filters || (depth0 && depth0.filters)),(typeof helper === functionType ? helper.call(depth0, {"name":"filters","hash":{},"data":data}) : helper)))
    + "\">\n		<h4>\n			<span class=\"icon icon-stack\" title=\"Block\"></span>\n\n			<a href=\""
    + escapeExpression(((helper = helpers.blockUrl || (depth0 && depth0.blockUrl)),(typeof helper === functionType ? helper.call(depth0, {"name":"blockUrl","hash":{},"data":data}) : helper)))
    + "\" target=\"_blank\" class=\"height\" title=\"Block Height\">\n				"
    + escapeExpression(((helper = helpers.height || (depth0 && depth0.height)),(typeof helper === functionType ? helper.call(depth0, {"name":"height","hash":{},"data":data}) : helper)))
    + "\n			</a>\n\n			<a href=\""
    + escapeExpression(((helper = helpers.forgerUrl || (depth0 && depth0.forgerUrl)),(typeof helper === functionType ? helper.call(depth0, {"name":"forgerUrl","hash":{},"data":data}) : helper)))
    + "\" target=\"_blank\" class=\""
    + escapeExpression(((helper = helpers.recipientClass || (depth0 && depth0.recipientClass)),(typeof helper === functionType ? helper.call(depth0, {"name":"recipientClass","hash":{},"data":data}) : helper)))
    + " forger\" title=\"Forger\">\n				<span class=\"icon icon-user2\"></span>\n				<span class=\"account-number\">"
    + escapeExpression(((helper = helpers.forger || (depth0 && depth0.forger)),(typeof helper === functionType ? helper.call(depth0, {"name":"forger","hash":{},"data":data}) : helper)))
    + "</span>\n			</a>\n		</h4>\n\n		<h5>\n			<span>"
    + escapeExpression(((helper = helpers.formattedTimestamp || (depth0 && depth0.formattedTimestamp)),(typeof helper === functionType ? helper.call(depth0, {"name":"formattedTimestamp","hash":{},"data":data}) : helper)))
    + "</span>\n\n			<span class=\"readable-timestamp\" data-timestamp=\""
    + escapeExpression(((helper = helpers.timestamp || (depth0 && depth0.timestamp)),(typeof helper === functionType ? helper.call(depth0, {"name":"timestamp","hash":{},"data":data}) : helper)))
    + "\">"
    + escapeExpression(((helper = helpers.readableTimestamp || (depth0 && depth0.readableTimestamp)),(typeof helper === functionType ? helper.call(depth0, {"name":"readableTimestamp","hash":{},"data":data}) : helper)))
    + "</span>\n		</h5>\n\n		<div class=\"transactions transactions-"
    + escapeExpression(((helper = helpers.numberOfTransactions || (depth0 && depth0.numberOfTransactions)),(typeof helper === functionType ? helper.call(depth0, {"name":"numberOfTransactions","hash":{},"data":data}) : helper)))
    + "\" title=\""
    + escapeExpression(((helper = helpers.numberOfTransactions || (depth0 && depth0.numberOfTransactions)),(typeof helper === functionType ? helper.call(depth0, {"name":"numberOfTransactions","hash":{},"data":data}) : helper)))
    + " transaction(s)\">\n			<span class=\"icon icon-loop2\"></span> <span class=\"number\">"
    + escapeExpression(((helper = helpers.numberOfTransactions || (depth0 && depth0.numberOfTransactions)),(typeof helper === functionType ? helper.call(depth0, {"name":"numberOfTransactions","hash":{},"data":data}) : helper)))
    + "</span>\n		</div>\n\n		<div class=\"amount-transactions\">\n			<div class=\"amount\">\n				<span class=\"icon icon-nhz-n\"></span> "
    + escapeExpression(((helper = helpers.totalAmount || (depth0 && depth0.totalAmount)),(typeof helper === functionType ? helper.call(depth0, {"name":"totalAmount","hash":{},"data":data}) : helper)))
    + " <span class=\"unit\">NHZ</span>\n\n				<span class=\"fee\">\n					<span class=\"icon icon-plus\"></span> "
    + escapeExpression(((helper = helpers.totalFee || (depth0 && depth0.totalFee)),(typeof helper === functionType ? helper.call(depth0, {"name":"totalFee","hash":{},"data":data}) : helper)))
    + "\n				</span>\n			</div>\n		</div>\n\n		<div class=\"block-info\">\n			<a href=\""
    + escapeExpression(((helper = helpers.blockUrl || (depth0 && depth0.blockUrl)),(typeof helper === functionType ? helper.call(depth0, {"name":"blockUrl","hash":{},"data":data}) : helper)))
    + "\" target=\"_blank\" class=\"block-id\" title=\"Block ID\">\n				<span class=\"icon icon-loop2\"></span>\n				<span class=\"block-id\">"
    + escapeExpression(((helper = helpers.id || (depth0 && depth0.id)),(typeof helper === functionType ? helper.call(depth0, {"name":"id","hash":{},"data":data}) : helper)))
    + "</span>\n			</a>\n		</div>\n	</li>\n\n</script>\n";
},"useData":true});
})();