<li id="block-{{index}}" data-filters="{{filters}}">
	<h4>
		<span class="icon icon-stack" title="Block"></span>

		<a href="{{blockUrl}}" target="_blank" class="height" title="Block Height">
			{{height}}
		</a>

		<a href="{{forgerUrl}}" target="_blank" class="{{recipientClass}} forger" title="Forger">
			<span class="icon icon-user2"></span>
			<span class="account-number">{{forger}}</span>
		</a>
	</h4>

	<h5>
		<span>{{formattedTimestamp}}</span>

		<span class="readable-timestamp" data-timestamp="{{timestamp}}">{{readableTimestamp}}</span>
	</h5>

	<div class="transactions transactions-{{numberOfTransactions}}" title="{{numberOfTransactions}} transaction(s)">
		<span class="icon icon-loop2"></span> <span class="number">{{numberOfTransactions}}</span>
	</div>

	<div class="amount-transactions">
		<div class="amount">
			<span class="icon icon-nhz-n"></span> {{totalAmount}} <span class="unit">NHZ</span>

			<span class="fee">
				<span class="icon icon-plus"></span> {{totalFee}}
			</span>
		</div>
	</div>

	<div class="block-info">
		<a href="{{blockUrl}}" target="_blank" class="block-id" title="Block ID">
			<span class="icon icon-loop2"></span>
			<span class="block-id">{{id}}</span>
		</a>
	</div>
</li>
